/*
    -------------
    GLOBAL STYLES
    -------------
*/

:root 
{
    /* Colours */
    --primary-red: #F54D4A;
    --light-primary-red: #F5BDC0;
    --dark-primary-red: #902e2d;
    --secondary-yellow: #F5F254;
    --dark-secondary-yellow: #7E7D29;
    --tertiary-blue: #48b3ff;
    --dark-tertiary-blue: #0D3049;
    --muted-blue: #5E6C75;
    --light-white: #F5F5F7;
    --dark-text: #0D1114;
    --light-text: #55585A;
    --success: #6FE16F;
    --success-text: #254E25;
}

/* Text */

h1, h2
{
    font-family: "Neuton", serif;
}

p, h3
{
    font-family: "Montserrat", serif;
}

h1
{
    font-size: 2.25rem;
    font-weight: bold;
}

h2
{
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

::selection {
    background-color: var(--dark-primary-red);
    color: var(--light-white);
}

:focus {
    outline: 4px solid var(--dark-primary-red);
    outline-offset: 2px;
}

.wrapper
{
    max-width: 100%;
    margin: 0 auto;
}

/*
    -------------NAVIGATION-------------
*/
nav 
{
    background-color: var(--primary-red);
    display: flex;
    flex-direction: row;
}

.poke_logo 
{
    width: 174px;
    height: auto;
    padding: 10px;
}

/*
    -------------FOOTER-------------
*/
footer
{
    background-color: var(--primary-red);
    color: var(--light-white);
    padding: 1rem;
}


/*
    -------------
    HOMEPAGE
    -------------
*/

/*
    -------------HEADER-------------
*/
.header_banner
{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/homepage_header_poke.png) no-repeat;
    background-color: var(--dark-tertiary-blue);
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_banner_content
{
    padding: 1rem;
    color: var(--light-white);
}

.header_banner_content h1 
{
    margin: 0.5rem 0;
}

/*
    -------------POKEMON-------------
*/
.homepage_main 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.pokedex_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.25rem 1.5rem;
    margin-top: 2.5rem;
    padding: 1rem;
}

.pokedex_card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokedex_card_img
{
    border: 0.25rem solid var(--primary-red);
    border-radius: 1.25rem;
    padding: 0.75rem;
    background: var(--light-white);
    max-width: 100%;
    height: auto;
}

.pokedex_card_info {
    align-self: start;
}

.pokedex_card_info p
{
    color: var(--light-text);
}

.more_btn
{
    background-color: transparent;
    border: 1px solid var(--dark-secondary-yellow);
    color: var(--dark-secondary-yellow);
    font-size: 1.3125rem;
    border-radius: 0.75rem;
    padding: 1em 2em;
    margin-bottom: 2.5rem;
}

.more_btn:hover,
.more_btn:focus
{
    background-color: var(--secondary-yellow);
    border: 0.0625rem solid var(--secondary-yellow);
    color: var(--dark-text);
    transition: 0.5s ease-in-out;
}

.more_btn:focus
{
    outline: 4px solid var(--dark-secondary-yellow);
    outline-offset: 2px;
}

/*
    -------------
    POKEMON
    -------------
*/

.pokemon_info
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem 0;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.pokedex_card_info p
{
    margin: 0.25rem 0;
}

/*
    -------------POKEMON-------------
*/
/* Poke card */

.poke_card_lg
{
    margin-top: 1.75rem;
}

.poke_card_heading
{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    border: 0.5rem solid var(--primary-red);
    border-radius: 1.25rem;
    padding: 2rem;
    max-width: 50%;
    height: auto;
    background: var(--light-white);
    margin: 0 auto;
}

.poke_card_description
{
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 1.75rem 0;
    width: 100%;
}

.poke_identity
{
    margin-right: 50px;
}

.caught_item
{
    display: flex;
    align-items: center;
}

.caught .material-symbols-outlined
{
    color: var(--success-text);
    font-size: 2rem;
    padding: 0.25rem;
    border-radius: 50%;
    background-color: var(--success);
    margin-left: 0.5rem;
}

.not_caught .material-symbols-outlined
{
    color: var(--dark-primary-red);
    font-size: 2rem;
    padding: 0.25rem;
    border-radius: 50%;
    background-color: var(--primary-red);
    margin-left: 0.5rem;
}

.poke_card_lg hr
{
    border: 0.0625rem solid var(--dark-text);
    width: 70%;
}

.pokedex_card_img_lg
{
    width: 100%;
    height: auto;
}

.catch_release_btn
{
    background-color: var(--primary-red);
    color: var(--light-white);
    padding: 1em 1.875em;
    border-radius: 0.8em;
    border: none;
    font-size: 1.125rem;
}

.catch_release_btn:hover,
.catch_release_btn:focus
{
    background-color: var(--dark-primary-red);
    transition: 0.5s ease-in-out;
}


/* Stats */
.pokemon_stats
{
    background-color: var(--dark-tertiary-blue);
    color: var(--tertiary-blue);
    border-radius: 1rem;
    height: fit-content;
    padding-block: 1rem;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem 1rem;
    justify-content: center;
    align-items: center;
}

.pokemon_stats h3
{
    font-size: 1.313rem;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stat p
{
    color: rgba(72, 179, 255, 0.8);
    margin: 0.25rem 1.25rem;
    text-align: center;
}

/* Types */
/* .pokemon_type 
{
    margin: 50px 20px;
} */

.pokemon_type h2
{
    font-family: "Montserrat", serif;
    font-weight: 300;
    margin: 0.75rem 0;
}

.types {
    display: flex;
    gap: 0.5rem;
}

.type
{
    display: inline-block;
    padding: 0.75em 1em;
    border-radius: 0.5rem;
    color: var(--light-white);
}

/* Oak's Analysis */
.oak_analysis
{
    background-color: var(--dark-secondary-yellow);
    border-radius: 1rem;
    max-width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding-block: min(0.5rem, 1rem);
}

.analysis_content_flex
{
    display: flex;
    align-items: start;
}

.analysis_content_secondary
{
    align-self: center;
}

.analysis_content_main
{
    margin: 1.25rem;
}

.analysis_content_main p
{
    margin-top: 1.25rem;
    color: var(--secondary-yellow);
    max-width: 55ch;
    padding: 0.25rem;
    line-height: 1.6;
}

#oak_title
{
    font-size: 2rem;
    color: var(--secondary-yellow);
}

/* Rotom image */
.analysis_content_secondary img
{
    width: 118px;
    height: auto;
    margin: 0.75rem;
}

.oak_img 
{
    width: 158px;
    height: auto;
    margin: 28px auto;
    display: flex;
    justify-content: center;
}

/*
    -------------
    MEDIA QUERIES
    -------------
*/
/* Small mobile */
@media (max-width: 26.5625em)
{
    .poke_identity {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin: 0;
    }

    .poke_card_description {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        gap: 0.5rem;
        margin-left: 0;
        margin-right: 0;
    }

    .analysis_content_flex
    {
        flex-direction: column;
    }

    .analysis_content_secondary img
    {
        margin: 0;
    }
}

/* Tablet */
@media (min-width: 42.5rem)
{
    /* Header */
    .header_banner_content {
        text-align: center;
    }

    .header_banner_content h1 {
        font-size: 3.75rem;
    }

    .header_banner_content p {
        font-size: 1.3125rem;
    }

    /*
    -------------
    HOMEPAGE
    -------------
    */

    /*
        -------------POKEMON-------------
    */
    .pokedex_card_img
    {
        width: 15vw;
    }

    .poke_identity h1
    {
        font-size: 3rem;
    }

    .pokedex_grid
    {
        grid-template-columns: repeat(4, 1fr);
    }

    /*
    -------------
    POKEMON
    -------------
    */
    /* Stats */
    .stat {
        text-align: start;
    }

    .stat h3
    {
        font-size: 1.5rem;
    }
    
    .stat p 
    {
        font-size: 1.125rem;
    }

    /* types */
    .type
    {
        font-size: 1.313rem;
    }

    /* Gender */
    .pokemon_gender
    {
        max-width: 30%;
    }

    /* Oak's Analysis */
    .analysis_content_secondary img
    {
        width: 180px;
    }

    #oak_title
    {
        font-size: 3rem;
        font-weight: 700;
    }

    .oak_img
    {
        width: 224px;
    }
}

/* Desktop */
@media (min-width: 68.75em)
{
    /*
        -------------NAVIGATION-------------
    */
    .poke_logo 
    {
        width: 15%;
        padding: 1rem;
    }

    /*
        -------------FOOTER-------------
    */

    footer p 
    {
        font-size: 1.313rem;
    }
    /*
    -------------
    HOMEPAGE
    -------------
    */

    /*
        -------------HEADER-------------
    */
    .header_banner
    {
        height: 60vh;
    }

    .header_banner_content h1
    {
        font-size: 6rem;
    }

    .header_banner_content p 
    {
        font-size: 1.5rem;
    }

    /*
        -------------POKEMON-------------
    */
    
    .pokedex_grid
    {
        grid-template-columns: repeat(5, 1fr);
        gap: 2.5rem;
    }

    .pokedex_card_img
    {
        border: 0.5rem solid var(--primary-red);
        padding: 0.75rem;
        width: 12vw;
    }

    .pokedex_card_info p
    {
        color: var(--light-text);
        font-size: 1.125rem;
    }

    .pokedex_card_info h2
    {
        font-size: 1.875rem;
    }

    /*
    -------------
    POKEMON
    -------------
    */
    .pokemon_info
    {
        grid-template-columns: 2fr 1fr;
        gap: 1.25rem 2.5rem;
        max-width: 75%;
        margin: 3.75rem auto;
        padding: 0;
        align-items: start;
    }

    /* Poke Card */
    .poke_card_lg
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .poke_card_lg hr 
    {
        width: 100%;
    }

    .poke_card_heading 
    {
        margin: 0;
        max-width: 100%;
        border: 0.75rem solid var(--primary-red);
        border-radius: 1.5rem;
    }

    .poke_card_description
    {
        justify-content: space-between;
        margin: 0.75rem 0 1.75rem 0;
    }

    .poke_card_description p 
    {
        font-size: 1.313rem;
    }

    .poke_card_description h1
    {
        font-size: 4.5rem;
    }

    .catch_release_btn
    {
        font-size: 1.313rem;
    }

    .caught_item
    {
        font-size: 1.313rem;
    }

    /* Stats */
    .pokemon_stats
    {
        margin: 0;
        max-width: 100%;
        padding: 1rem;
    }

    /* Types */
    .pokemon_type
    {
        margin: 2.5rem 0px;
    }

    /* Gender */
    .pokemon_gender
    {
        margin-left: 0px;
        max-width: 50%;
    }

    /* Oak's Analysis */
    .oak_analysis
    {
        max-width: 100%;
        margin: 0;
        height: fit-content;
    }
    
    .analysis_content_main p 
    {
        font-size: 1.125rem;
    }

    .oak_img
    {
        margin: 0;
    }
}

/* Hover states */
@media (hover: hover)
{
    .pokedex_card:hover
    {
        transition: .6s ease-in-out;
        transform: translateY(-0.75rem);
    }
}
